<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= "#{current_page.data.title} | Concrete" %></title>
    
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <div class="navigation">
      <div class="wrapper">
        <h1>Concrete is the easiest way to automate your development workflow</h1>
        <div class="right">
          <div class="btn"><a href="http://demo.concretebuilder.io" class="white">Register for free</a></div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="wrapper">
        <div class="header">
          <h1><a href="/">Concrete</a></h1>
          <div class="top-links">
            <a href="http://demo.concretebuilder.io">What is Concrete?</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="articles">
          <div class="articles-inner">
            <div class="article">
              <h1><%= link_to current_page.data.title, current_page %></h1>
              <div class="article-info">
                <div class="profile"><%= image_tag(gravatar_for(current_page.authors.first.name.split('|').last)) %> </div>
                <p>Posted on <%= current_page.date.strftime('%d %b %Y') %></p>
                <p>Written by <%= current_page.authors.first.name.split('|').first %></p>   
              </div>
              <div class="clear"></div>
              <p><%= current_page.body %></p>
            </div>
          </div>
        </div>
        <div class="articles-addon">
          <div class="articles-addon-inner">
            <h3><a href="/archive.html">Archives</a></h3>
            <h3><a href="/feed.xml">RSS feed</a></h3>
            <h3>Recent articles</h3>
            <ul>
              <% blog.articles[0...10].each do |article| %>
                <li><a href="<%= article.url %>"><%= article.title %></a></li>
              <% end %>
            </ul>
            <h3>Tags</h3>
            <ul>
              <% tags.each do |tag| %>
                <li><%= link_to tag.first, tag_path(tag.first) %> (<%= tag.last %>)</a></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="clear"></div>
        <%= disqus %>
      </div>
    </div>

    <div class="footer">
      <div class="wrapper">
        <div class="footer-col">
          <div class="footer-col-inner">
            <div class="title">Register an account</div>
            <div class="separator"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed posuere eros. Donec auctor aliquet varius. In lacinia,u</p>
          </div>
        </div>
        <div class="footer-col">
          <div class="footer-col-inner">
            <div class="title">Join the community</div>
            <div class="separator"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed posuere eros. Donec auctor aliquet varius. In lacinia, justo eu viverra luctus, orci libero ornare justo, sit amet condimentum metus libero vel justo. Morbi convallis blandit purus,</p>
          </div>
        </div>
        <div class="clear"></div>
        <div class="copyright">Copyright ©<%= Time.now.year %> Concrete
          <span class="footer-nav"><a href="http://demo.concretebuilder.io">HOME</a></span>
          <span class="footer-nav"><a href="http://devcenter.concretebuilder.io">DEVCENTER</a></span>
        </div>
      </div>
    </div>
  </body>
</html>