<!doctype html>
<html>
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine or request Chrome Frame -->
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta name=viewport content="width=device-width, initial-scale=1.0" />
		<meta name=apple-mobile-web-app-capable content=yes>

		<meta property="og:url" content="<%= current_page.path %>" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="<%= current_page.data.title %>" />
		<meta property="og:description" content="<%= truncate_words(text_only(current_page.body), :length => 50) %>" />
		<meta property="og:image" content="http://blog.bitrise.io<%= current_page.metadata[:page]["overlay"] %>" />

		<!-- Use title if it's in the page YAML frontmatter -->
		<title><%= "#{current_page.data.title} | Bitrise" %></title>

		<%= stylesheet_link_tag "normalize", "all" %>
		<%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Source+Code+Pro' %>
		<%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700,300,600' %>
		<%= javascript_include_tag  "all" %>
		<!-- Facebook Pixel Code -->
		<script>
			!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
			n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
			document,'script','https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '1527313887281951');
			fbq('track', 'PageView');
		</script>
		<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=1527313887281951&ev=PageView&noscript=1"
		/></noscript>
		<!-- DO NOT MODIFY -->
		<!-- End Facebook Pixel Code -->
	</head>

	<body class="<%= page_classes %>">
		<div class="navigation">
			<a href="/" id="logo"></a>
			<div class="right">
				<a href="https://www.bitrise.io/?utm_source=bitrise_blog&utm_medium=content&utm_campaign=blog&utm_term=blog_navigation_button&utm_content=CTA_start_building_for_free" class="white" onclick="fbq('track', 'bitrise-link-clicked'); ga('send', 'event', 'bitrise', 'click', 'button', 1, {'NonInteraction': 1});">
					<div class="btn">Start building for free</div>
				</a>
			</div>
		</div>
		<div class="content">
			<% if current_page.metadata[:page]["overlay"] %>
			<div class="main subpage" style="background-image:url('<%= current_page.metadata[:page]["overlay"] %>')">
				<div class="overlay"></div>
			</div>
			<% else %>
			<div class="main subpage">
				<div class="overlay"></div>
			</div>
			<% end %>
			<div class="wrapper">
				<div class="articles">
					<div class="articles-inner">
						<div class="article-header">
							<p class="date">
								<%= current_page.date.strftime('%d %b %Y') %>
							</p>
							<h1><%= link_to current_page.data.title, current_page %></h1>
							<div class="article-info">
								<p class="profile">Written by
									<span>
										<i><b><%= current_page.authors.first.name.split('|').first %></b></i>
									</span>
								</p>
								<p>
									<% current_page.tags.each do |tag| %>
									<span class="tags"><%= link_to tag, tag_path(tag) %></span>
									<% end %>
								</p>
							</div>
							<div class="clear"></div>
						</div>
						<div class="article">
							<p><%= current_page.body %>
								<div class="CTA">
									<h2>Automate your building, testing and deployment</h2>
										<a class="btn-purple" href="https://www.bitrise.io/?utm_source=bitrise_blog&utm_medium=content&utm_campaign=blog&utm_term=blog_post_CTA_button&utm_content=CTA_start_building_for_free" onclick="fbq('track', 'bitrise-link-clicked'); ga('send', 'event', 'bitrise', 'click', 'button', 1, {'NonInteraction': 1});">
											Start building for free
										</a>
								</div>
							</p>
							<div class="share-buttons">
								<a href="https://twitter.com/share" class="twitter-share-button" data-via="bitrise">Tweet</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
								<a href="https://news.ycombinator.com/submit" class="hn-button" data-count="horizontal" data-style="twitter">Vote on Hacker News</a>
								<script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>
							</div>
						</div>
					</div>
					<div class="recent-articles-mobile">
						<h3>Recent articles</h3>
						<ul>
							<% blog.articles[0...5].each do |article| %>
								<li><a href="<%= article.url %>"><%= article.title %></a></li>
							<% end %>
						</ul>
					</div>
					<div class="comments">
						<%= disqus %>
					</div>
				</div>
				<div class="articles-addon subpage">
					<div class="articles-addon-inner">
						<section>
							<li class="top">
								<div class="icon archive">
									<a href="/archive.html">Archives</a>
								</div>
							</li>
							<li class="top">
								<div class="icon rss">
									<a href="/feed.xml">Atom feed</a>
								</div>
							</li>
						</section>
						<section class="posts">
							<h3>Recent articles</h3>
							<ul>
								<% blog.articles[0...10].each do |article| %>
									<li><a href="<%= article.url %>"><%= article.title %></a></li>
								<% end %>
							</ul>
						</section>
						<section>
							<h3>Tags</h3>
							<ul class="tags">
								<% tags.each do |tag| %>
									<li><%= link_to tag.first, tag_path(tag.first) %> (<%= tag.last %>)</li>
								<% end %>
							</ul>
						</section>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<div class="footer">
			<div class="left-menu">
				<p>Copyright © <%= Time.now.year %> Bitrise Ltd.</p>
				<p class="slash">/</p>
				<a href="https://www.bitrise.io">BITRISE</a>
				<p class="slash">/</p>
				<a href="http://devcenter.bitrise.io">DEVCENTER</a>
			</div>
			<div class="right-menu">
				<a href="https://github.com/bitrise-io" class="github"></a>
				<a href="https://twitter.com/bitrise" class="twitter"></a>
			</div>
			<div class="clear"></div>
		</div>
	</body>
</html>
