<!doctype html>
<html>
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine or request Chrome Frame -->
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta name=viewport content="width=device-width, initial-scale=1.0" />
		<meta name=apple-mobile-web-app-capable content=yes>

		<!-- Use title if it's in the page YAML frontmatter -->
		<title>Bitrise blog</title>

		<%= stylesheet_link_tag "normalize", "all" %>
		<%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Source+Code+Pro' %>
		<%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,500,700,300,600' %>
		<%= javascript_include_tag  "all" %>
		<!-- Facebook Pixel Code -->
		<script>
			!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
			n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
			document,'script','https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '1527313887281951', {
			em: 'insert_email_variable,'
			});
			fbq('track', 'PageView');
		</script>
		<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=1527313887281951&ev=PageView&noscript=1"
		/></noscript>
		<!-- DO NOT MODIFY -->
		<!-- End Facebook Pixel Code -->
	</head>

	<body class="<%= page_classes %>">
		<div class="navigation">
			<a href="/" id="logo"></a>
			<div class="right">
				<div class="btn">
					<a href="https://www.bitrise.io" class="white">Register <span>for free</span></a>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="main">
				<div class="overlay">
					<h1>Bitrise Blog</h1>
					<h4>Enjoy Continuous Integration & Delivery</h4>
				</div>
			</div>
			<div class="wrapper">
				<div class="articles">
					<div class="articles-inner">
						<%= yield %>
					</div>
				</div>
				<div class="articles-addon">
					<div class="articles-addon-inner">
						<section>
							<li class="top">
								<div class="icon archive">
									<a href="/archive.html">Archives</a>
								</div>
							</li>
							<li class="top">
								<div class="icon rss">
									<a href="/feed.xml">Atom feed</a>
								</div>
							</li>
						</section>
						<section class="posts">
							<h3>Recent articles</h3>
							<ul>
								<% blog.articles[0...10].each do |article| %>
									<li><a href="<%= article.url %>"><%= article.title %></a></li>
								<% end %>
							</ul>
						</section>
						<section>
							<h3>Tags</h3>
							<ul class="tags">
								<% tags.each do |tag| %>
									<li><%= link_to tag.first, tag_path(tag.first) %> (<%= tag.last %>)</li>
								<% end %>
							</ul>
						</section>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<div class="footer">
			<div class="left-menu">
				<p>Copyright © <%= Time.now.year %> Bitrise Ltd.</p>
				<p class="slash">/</p>
				<a href="https://www.bitrise.io">BITRISE</a>
				<p class="slash">/</p>
				<a href="http://devcenter.bitrise.io">DEVCENTER</a>
			</div>
			<div class="right-menu">
				<a href="https://github.com/bitrise-io" class="github"></a>
				<a href="https://twitter.com/bitrise" class="twitter"></a>
			</div>
			<div class="clear"></div>
		</div>
	</body>
</html>
